.notification-container {
  position: relative;
}

.notification-button {
  position: relative;

  width: 44px;
  height: 44px;

  border: none;
  border-radius: 50%;

  background: #f3f4f6;

  font-size: 21px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-button:hover {
  background: #e5e7eb;
}


.notification-badge {
  position: absolute;

  top: -3px;
  right: -3px;

  min-width: 19px;
  height: 19px;

  padding: 0 5px;

  border-radius: 20px;

  background: #ef4444;
  color: white;

  font-size: 10px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
}


.notification-dropdown {
  position: absolute;

  top: 55px;
  right: 0;

  width: 370px;

  background: white;

  border-radius: 16px;

  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.15);

  overflow: hidden;

  z-index: 1000;
}


.notification-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 18px;

  border-bottom: 1px solid #e5e7eb;
}

.notification-header h3 {
  margin: 0;

  font-size: 17px;
}

.notification-header span {
  color: #6b7280;

  font-size: 12px;
}


.notification-list {
  max-height: 430px;

  overflow-y: auto;
}


.notification-item {
  position: relative;

  display: flex;

  gap: 12px;

  padding: 15px;

  border-bottom: 1px solid #f1f5f9;

  cursor: pointer;

  transition: 0.2s;
}

.notification-item:hover {
  background: #f8fafc;
}


.notification-item.unread {
  background: #eff6ff;
}


.notification-icon {
  width: 38px;
  height: 38px;

  flex-shrink: 0;

  border-radius: 50%;

  background: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}


.notification-content {
  flex: 1;
}

.notification-content strong {
  display: block;

  margin-bottom: 4px;

  font-size: 14px;

  color: #111827;
}

.notification-content p {
  margin: 0 0 5px;

  font-size: 12px;

  color: #6b7280;

  line-height: 1.4;
}

.notification-content small {
  font-size: 10px;

  color: #9ca3af;
}


.unread-dot {
  width: 8px;
  height: 8px;

  border-radius: 50%;

  background: #2563eb;

  margin-top: 7px;
}


.notification-empty {
  padding: 45px 20px;

  text-align: center;

  color: #9ca3af;
}

.notification-empty div {
  font-size: 35px;
}

.notification-empty p {
  margin-top: 8px;
}


@media (max-width: 500px) {

  .notification-dropdown {
    position: fixed;

    top: 70px;
    left: 15px;
    right: 15px;

    width: auto;
  }
}